{# empty Twig template #}
{% extends 'admin/baseadmin.html.twig'%}
{% block title %} Form {% endblock %}


{#     {% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}#}


{% block body %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <h3 class="display-4 text-center mt-5">
{#                    {{ title }}#}
                </h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row no-gutters justify-content-center align-items-center mt-5">
            <div class="col-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
